/*Body Styling*/

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Questrial', sans-serif;
  background-color: #f5f5f5;
}

/*Content Styling*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

header {
  position: fixed;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
}

.title {
  padding: 54px;
  color: #F3948F;
}

.links {
  margin: 54px;
}

.appy {
  font-weight: inherit;
  margin: 0 0 0.2em 0;
}

.eatery {
  margin: 0;
}

.social {
  margin-right: 18px;
  text-decoration: none;
  fill: #063A45;
}

.social:hover{
  fill: #F3948F;
}

.logo {
  margin-bottom: 45px;
  animation: spin 15s infinite linear;
  transition: fill 0.2s ease;
  fill: #063A45;
}

.logo:hover{
  fill: #F3948F;
}

.coming {
    color: #063A45;
    font-size: 18px;
    letter-spacing: 3px;
}

/* Animations */

@keyframes spin{
  0%{
    transform: rotateZ(0deg)
  }
  100%{
    transform: rotateZ(360deg)
  }
}

